﻿<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Task6</title>
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

	<!-- Material Dashboard CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/material-dashboard.min.css">

	<link href="~/lib/paginations/pagination.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="~/css/site.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
	<script src="~/assets/js/core/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-absolute fixed-top border-bottom">
		<div class="container">
			<div class="navbar-wrapper">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MailBox</a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbartoggle1" aria-controls="#mynavbartoggle1" aria-expanded="false" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
				<span class="navbar-toggler-icon icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="mynavbartoggle1">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<partial name="_LoginPartial" />
				</ul>
			</div>
		</div>
	</nav>
	<div class="wrapper">
		<div class="main-panel" style="width:100%">
			<div class="content">
				@RenderBody()
			</div>
			<footer class="footer">
				<div class="container">
					&copy; 2019 - Task 6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</div>
			</footer>
		</div>
	</div>

	<script src="~/assets/js/core/popper.min.js"></script>
	<script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
	<script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

	<script src="~/assets/js/material-dashboard.min.js"></script>
	<script src="~/lib/paginations/pagination.js" type="text/javascript"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
