body {
  font-family: 'Consolas', cursive;    
  background: #ffffff;
  color: #898989;  
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 15px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

/*- Nav Menu -*/
.responsive {
  display: none;
    font-size: 23px;
}

nav {
  position: fixed;
  z-index: 1006;
  width: 100%;
  display: none;  
    padding: 10px;
  box-shadow: 1px 2px 92px 0px rgba(0, 0, 0, 0.18);
  background: rgba(45,45,48,1);    
}

.nav-menu {
  float: left;
  margin-bottom: 0;
    padding-top: 15px; 
    list-style: none;
}

nav ul li {
  float: left;
  margin-right: 15px;
  margin-left: 40px;
    font-size: 13px;
    padding: 0
}

nav ul li a {
  padding: 1px 0 0 0;
  position: relative;
  display: block;
  font-size: 1.6em;
  color: whitesmoke;    
    line-height: 25px;
  font-weight: 900;
  letter-spacing: 0.02em;
}

nav ul li a:hover { 
    color: white;
    text-shadow: 0.3px 0px 0px white;
}

nav ul li:hover {    
  background: rgba(65,112,18,0.6);
    color: aliceblue;
  text-decoration: none;
    transition: all 0.2s ease-in-out 0s;    
}

.logo-h1:hover {
    text-shadow: 0.3px 0.1px 0px rgba(60,202,140,1);
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;     
    display: inline-block;
}
.logo a{
  text-decoration: none;
}
.logo {
  float: left;
}

.logo-h1 {
  color: rgba(65,192,144,0.8);
    font-weight: bold;
    margin-top: 0.8rem;
    font-size: 2.4rem;
}

.ion-navicon-round{
   color: rgba(60,202,140,1);
}

/*- Slider under Typed-text -*/

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: scale(1.8);
    animation: scaleImage 4s ease-out forwards;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;    
    line-height: 1.9;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(45,45,48, 1);
    mix-blend-mode: multiply;
    opacity: 0;
    animation: fadeInText 3s 2s ease-out forwards;
}

.text h1{
    font-size: calc(14px + 4vw);    
    font-weight: bold;
}

@keyframes scaleImage {
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }
}

/*-- baner area --*/

.intro-subtitle{
    font-size: calc(14px + 4vw) ;        
}

.text-slider-items {
    display: none;
    padding: 0
}

.text-slider{ 
    color: white;
    font-weight: 500;
}

/*-- section about --*/

.sect-about{   
    padding-top: 3rem;
}

.box-shadow-full {
  padding: 2rem 1.25rem;
  position: relative;
  background-color: rgba(45,45,48,1);
  margin-bottom: 3rem;
  box-shadow: 3px 7px 5px 0 rgba(0, 0, 0, 0.7), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

.img-foto {
  max-width: 100%;
  height: auto;
    box-shadow: 1px 1px 3px 3px rgba(65,192,144,0.7);
}

.about-info .title-h1{
   text-align: left
}
.about-education p{
    margin: 0
}

.title-h1{
    text-align: center;
    line-height: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: calc(28px + 0.7vw);
    color: rgba(65,192,144,1);
}

.title-s {
  font-weight: 500;
  color: rgba(86,156,214,1);
  font-size: calc(16px + 0.3vw);
}

.title-ss {
  font-weight: 400;
  color: whitesmoke;
  font-size: calc(16px + 0.3vw);
}

.title-type{    
  font-weight: 500;
  color: rgba(164,156,69,1);
  font-size: calc(16px + 0.3vw);
text-decoration: underline;
}

/*-- social --*/
.list-social{
 list-style: none;
    padding-top: 0.5rem;
    padding-left: 0
}
.about-info .list-social li {
  float: left;
  margin-right: 1.7rem;
}

.about-info .list-social li i {
  color: #fff;
  font-size: 30px;
}
.about-info .list-social li i:hover {
  color: rgba(65,192,144,1);    
  transition: all 0.3s ease-in-out 0s; 
  font-size: 32px;
}
/*-- Progress bar --*/
div .title-skils{
    padding-bottom: 10px;
  font-size: calc(22px + 0.5vw);
    text-align: center;
    text-decoration: underline;
}

.skills-bar-container {
    position: relative;
    width: 100%;
    margin: 5% auto;
    list-style: none;
    padding-inline-start: 5px;
}

.skills-bar-container li {
    background: #666666;
    position: relative;
    width: 100%;
    height: 7px;
    margin-bottom: 35px;
    margin-top: 8px;
    border-radius: 5px;
}

.skills-bar-container label {
    color: #fff;
    position: relative;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 400;
}

.progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

#progress-csharp {
    animation-name: progress-csharp;
    animation-delay: .7s;
}

#progress-sql {
    animation-name: progress-sql;
    animation-delay: 1.4s;
}

#progress-htmlcss {
    animation-name: progress-htmlcss;
    animation-delay: 2.1s;
}

#progress-jsjq {
    animation-name: progress-jsjq;
    animation-delay: 1.4s;
}

#progress-cplus {
    animation-name: progress-cplus;
    animation-delay: .7s;
}

#progress-abap {
    animation-name: progress-abap;
    animation-delay: 2.1s;
}

.progressblue {
    background-color: rgba(65,192,144,1);
}

@-webkit-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@-webkit-keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 15%;
    }
}

@-webkit-keyframes progress-abap {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@-webkit-keyframes progress-cplus {
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }
}

@-webkit-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@-moz-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@-moz-keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 15%;
    }
}

@-moz-keyframes progress-abap {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@-moz-keyframes progress-cplus {
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }
}

@-moz-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 15%;
    }
}

@keyframes progress-abap {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@keyframes progress-cplus {
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }
}

@keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

/*-- section WORK --*/

.sect-work{
    padding-top: 3rem;
}

.pdt-3{
    padding-top: 3rem;
}

#work .title-h1{
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 0px;
}
/*hover card*/

.card{
    position: relative;
    cursor: pointer; 
    border: 0;
    border-radius: 10px;
  background-color: rgba(45,45,48,0);
}

.card .face{
    width:100%;
    height: 300px;
    transition: 0.5s;
    box-shadow: 3px 7px 5px 0 rgba(0, 0, 0, 0.7), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

.card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);     
    border-radius: 10px;
   margin-top: -100px
}

.card:hover .face.face1{
    background: rgba(65,192,144,1);
    transform: translateY(0);
    margin-top: 30px;
}

.card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}

.card .face.face1 .content-right{
    opacity: 1;
    transition: 0.5s;
    margin-left: 2vw;
}

.card:hover .face.face1 .content{
    opacity: 1;
}
.card:hover .face.face1 .content-right{
    opacity: 1;
}

.card .face.face1 .content img{
    height: auto;
    width: 100%;
    max-width: 200px;
    margin-left: 40px;
}


.card .face.face2{
    position: relative;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-150px);    
    border-radius: 12px;
    margin-bottom: -190px;
    
}

.card:hover .face.face2{
    transform: translateY(0);
    margin-bottom: 80px;
}

.card .face.face2 .content li{
    padding: 0;
    font-weight: bold;
    font-size: calc(14px + 0.3vw);
    margin-top: 5px;
    text-align: left;
}
.card .face.face2 .content li ul li{
    padding: 0;    
    font-weight: normal;
   font-size: calc(14px + 0.3vw);
    margin-top: 5px;
    text-align: left;
}
.card .face.face2 .content ul{
    padding-inline-start: 10px;
}


/* Section Portfolio */
#portfolio {
  position: relative;
 text-align: center;    
  padding-top: 90px;
  padding-bottom: 90px;
}

#portfolio .portfolio-list {
  margin-bottom: 30px;
    margin-top: 20px;
}

#portfolio .portfolio-list .nav {
  display: inline-block;
    list-style: none;
  margin: 0;
}

#portfolio .portfolio-list .nav li {
  margin: 0 40px 0 0;
  float: left;
  font-size: 18px;
  color: aliceblue;
  line-height: 16px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-list .nav li:hover, 
#portfolio .portfolio-list .nav li.filter-active  {
  background: rgba(65,112,18,0.6);
    color: aliceblue;
  text-decoration: none;
    transition: all 0.2s ease-in-out 0s;  
}

#portfolio .portfolio-container {
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}

.portfolio-thumbnail {
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 260px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.portfolio-thumbnail img {
  max-width: 100%;
}

.box-shadow-full2 {
  padding: 0;
  position: relative;
  background-color: rgba(45,45,48,1);
  margin-bottom: 3rem;
  box-shadow: 3px 7px 5px 0 rgba(0, 0, 0, 0.7), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

/*portfolio card*/

.section-plans {
  background-color: #000;
  padding: 4rem 0 4rem 0;
}

.card1 {
  perspective: 150rem;
  position: relative;
  height: 36rem;
}

.card1-side {
  height: 36rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card1-side-front {
  background: linear-gradient(-170deg, #2d2d30, #41bf8f);
}


.card1-side-back {
          transform: rotateY(180deg);
      background: linear-gradient(0deg, #2d2d30, #41bf8f);
}

.card1:hover .card1-side-front {
          transform: rotateY(-180deg);
}

.card1:hover .card1-side-back {
          transform: rotateY(0);
}

.card1-title {
  height: 5rem;
  padding: 4rem 2rem 2rem;
  display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}

.card1-title img{
    max-width: 140px;
    height: auto;
    margin-top: 5rem;
    border-radius: 20px;
}

.card1-heading {
    padding-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: rgba(164,156,69,0.9);
    text-shadow: 1px 1px 2px green, 0 0 1em green; 
    line-height: 2rem;
}

.card1-details {
    margin-top: 5.5rem;
  padding: 0 1rem 1rem;
}

.card1-details ul {
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.card1-details ul li {
  text-align: center;
    color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem;
}

.card1-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card1-cta {
  position: absolute;
  top: 40%;
  left: 50%;
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card1-result-box {
  text-align: center;  
}

.card1-result-only {
  font-size: 1.8rem;
  text-transform: uppercase;
color: #fff;
}

.card1-result-value {
  font-size: 1.2rem;
  font-weight: 100;
    color: #fff;
}
.card1-resultd { 
    text-decoration-style: dashed;
    margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 100;
    color: lightyellow;
}


/*- button style -*/


.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Contact form */


form {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3rem;
    width: 310px;
    height: 450px;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    background: #333; 
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

textarea{
background: rgba(65,192,144,0.1); 
    width: 250px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 250px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
	  background: rgba(65,192,144,0.1);  
	  padding-left:45px;
}

input.email {
	  background: rgba(65,192,144,0.1); 
	  padding-left:45px;
}

input.message {
	  background: rgba(65,192,144,0.1); 
	  padding-left:45px;
}

input:focus, textarea:focus { 
	  background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	  overflow: hidden; 
}
.title-contact{
    background: #333;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: calc(28px + 0.7vw);
    color: rgba(65,192,144,1); 
}

/*- Footer -*/
#footer {
  background: grey;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#footer p {
    color: aliceblue;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

























