﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="container">
		<h1 class="text-center">Welcome to MailBox</h1>
		<div class="row">
			<div class="col-md-5">
				<p class="mt-5">Now more secure, smarter and easier to use—helping you save time and do more with your inbox.</p>
				<hr />
			</div>
			<div class="col-md-7">
				<img src="https://lh3.googleusercontent.com/qIbkEqS8l67IApLtveAc5GG8a192K-_4D9xi4f_qDK1aOFiyYUcjPyeBH-vEDnZK7-cIvvuhi0sEuFi_cEeOBU8_NYjHhko3NQ6kpQ=w0" class="img-poster" alt="">

			</div>
		</div>
	</div>