﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4>Associate your @Model.LoginProvider account.</h4>
<hr />

<p class="text-info">
    You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
			<div class="border">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Input.Name" class="col-form-label"></label>
					</div>
					<div class="col-7">
						<input asp-for="Input.Name" class="form-control" />
					</div>
					<span asp-validation-for="Input.Name" class="text-danger"></span>
				</div>
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Input.Email" class="col-form-label"></label>
					</div>
					<div class="col-7">
						<input asp-for="Input.Email" class="form-control" />
					</div>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>

				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Input.PhoneNumber" class="col-form-label"></label>
					</div>
					<div class="col-7">
						<input asp-for="Input.PhoneNumber" class="form-control" />
					</div>
					<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
				</div>

				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Input.City" class="col-form-label"></label>
					</div>
					<div class="col-7">
						<input asp-for="Input.City" class="form-control" />
					</div>
					<span asp-validation-for="Input.City" class="text-danger"></span>
				</div>

				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Input.PostCode" class="col-form-label"></label>
					</div>
					<div class="col-7">
						<input asp-for="Input.PostCode" class="form-control" />
					</div>
					<span asp-validation-for="Input.PostCode" class="text-danger"></span>
				</div>
			
						<button type="submit" class="btn btn-primary form-control">Register</button>
					
			</div>
	
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
