﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

	<div class="container">

		<h2 class="text-info">Create New Account</h2>
		<div class="row">
			<div class="col-md-6 mb-5">
				<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
					<div class="border">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group row">
							<div class="col-4">
								<label asp-for="Input.Name" class="col-form-label"></label>
							</div>
							<div class="col-6">
								<input asp-for="Input.Name" class="form-control" />
							</div>
							<span asp-validation-for="Input.Name" class="text-danger"></span>
						</div>
						<div class="form-group row">
							<div class="col-4">
								<label asp-for="Input.Email" class="col-form-label"></label>
							</div>
							<div class="col-6">
								<input asp-for="Input.Email" class="form-control" />
							</div>
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>

						<div class="form-group row">
							<div class="col-4">
								<label asp-for="Input.PhoneNumber" class="col-form-label"></label>
							</div>
							<div class="col-6">
								<input asp-for="Input.PhoneNumber" class="form-control" />
							</div>
							<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
						</div>

						<div class="form-group row">
							<div class="col-4">
								<label asp-for="Input.City" class="col-form-label"></label>
							</div>
							<div class="col-6">
								<input asp-for="Input.City" class="form-control" />
							</div>
							<span asp-validation-for="Input.City" class="text-danger"></span>
						</div>

						<div class="form-group row">
							<div class="col-4">
								<label asp-for="Input.PostCode" class="col-form-label"></label>
							</div>
							<div class="col-6">
								<input asp-for="Input.PostCode" class="form-control" />
							</div>
							<span asp-validation-for="Input.PostCode" class="text-danger"></span>
						</div>

						<div class="form-group row">
							<div class="col-4">
								<label asp-for="Input.Password" class="col-form-label"></label>
							</div>
							<div class="col-6">
								<input asp-for="Input.Password" class="form-control" />
							</div>
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div class="form-group row">
							<div class="col-4">
								<label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
							</div>
							<div class="col-6">
								<input asp-for="Input.ConfirmPassword" class="form-control" />
							</div>
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						</div>
						<div class="form-group row">
							<div class="col-6 offset-2">
								<button type="submit" class="btn btn-primary form-control mb-2">Register</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 col-md-offset-2">
				<section>
					<h4>Use another service to register.</h4>
					<hr />
					@{
						if ((Model.ExternalLogins?.Count ?? 0) == 0)
						{
							<div>
								<p>
									There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
									for details on setting up this ASP.NET application to support logging in via external services.
								</p>
							</div>
						}
						else
						{
							<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
								<div>
									<p>
										@foreach (var provider in Model.ExternalLogins)
										{
											<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
										}
									</p>
								</div>
							</form>
						}
					}
				</section>
			</div>
		</div>
	</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
