﻿.cke_show_borders {
	overflow-y: scroll;
}
.modal-dialog {
	width: 900px;
	margin: 1.75rem auto;
}
@media (min-width: 992px) {
	.modal-dialog {
		max-width: 900px;
		margin: 1.75rem auto;
	}
}
.img-poster {
	max-width: 500px;
	height:auto;
	display:block;
}