body {
margin:0; padding:0; 
}

#map {
position:absolute; top:0; bottom:0; width:100%; 
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#popup-title{
    color: #333;
    font-size: 1rem;
   font-weight: normal
}   
   
#place-container{
        position: relative;
        display: block;
        width: 300px;
        height: auto;
        background: ghostwhite;  
    margin-left: 20px;
}

#place-container h1{
    background-color: ghostwhite;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #333;
}

#ul-container{
list-style: none;
    margin: 0;
    padding-inline-start: 0px;
}

#ul-container div{
     display: inline-block;
    width: 85%;
}

#ul-container .btn{
    line-height: normal;
}

#ul-container li{
         cursor: default;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    border-bottom: 1px solid #333;
}

#ul-container li:hover{
        background: grey;
}
    
#input-place{
    width: 150px;
    border: 1.5px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 10px;
    margin-right: 0px;
    border-radius: 5px;
    transition: border 0.3s;
}

.btn{
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;
    margin-left: 3px;
}

#add-button:active { transform: translateY(2px); }







