﻿@using Task6.Areas.IdentifyUser.Models;
@model SearchModel

@{
	ViewData["Title"] = "Home Page";
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br />
			<form method="post" asp-area="IdentifyUser" asp-controller="Home" asp-action="MessageDetails" class="form-group">
				<div class="row justify-content-center">
					<div asp-validation-summary="All" class="col">
						<input type="search" id="search1" class="form-control" asp-for="SearchQuery" placeholder="Search" />
					</div>
					<div class="col">
						<input type="date" id="startDate1" placeholder="StartDate" asp-for="StartDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</div>
					<div class="col">
						<input type="date" id="endDate1" placeholder="EndDate" asp-for="EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</div>
					<button type="button" class="btn btn-success" id="button1">Search</button>
				</div>
			</form>
			<div class="row">
				<table class="data-container table"></table>
				<div id="pagination-demo1"></div>
			</div>
			<br />
			<br />

		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<script type="text/javascript">
	//ClassicEditor.disableAutoInline = true;
	//
	function GetMessages() {
		var container = $('#pagination-demo1');
		container.pagination({
			dataSource: '/IdentifyUser/Home/MessageDetails?query=' + document.querySelector('#search1').value +
				'&startDate=' + document.querySelector('#startDate1').value +
				'&endDate=' + document.querySelector('#endDate1').value + '',
			locator: 'messages',
			totalNumberLocator: function (response) {
				return response.pagingInfo.totalItem;
			},
			pageSize: 5,
			ajax: {
				beforeSend: function () {
					container.prev().html('Loading data from GMail ...');
				}
			},
			callback: function (response, pagination) {
				console.log(22, response, pagination);
				var dataHtml = '<thead><tr><th>From</th><th>Title</th><th>Date</th><th style="display:none"></th></tr></thead><tbody>';
				for (let i = 0; i < response.length; i++) {
					dataHtml += '<tr>';
					dataHtml += '<td>' + response[i].title + '</td>';
					dataHtml += '<td>' + response[i].from + '</td>';
					dataHtml += '<td>' + response[i].receivedDate + '</td>';
					dataHtml += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-lg' + i + '">View</button>';
					dataHtml += '<div id="bd-example-modal-lg' + i + '" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content">';
					dataHtml += '<div class="modal-header"><h5 class="modal-title" id="exampleModalLongTitle">' + response[i].title + '</h5>';
					dataHtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
					dataHtml += '<div class="modal-body"><textarea name="content" id="editor' + i + '">' + response[i].content + '</textarea></div>';
					dataHtml += '<script>ClassicEditor.create(document.querySelector("#editor' + i + '")).catch(error => {console.error(error);});\x3C/script></div></div></div></td>';
					dataHtml += '</tr>';
				}
				dataHtml += '</tbody>';
				container.prev().html(dataHtml);
			}
		});
	};
	//
	$("#button1").on("click", function () {
		GetMessages();
	});
</script>
