﻿@*
	This example use based on asp.net core Paging, but is not perfect, cuz update view. This used for first solve
*@

@*
@model Task6.Models.ViewModels.MessagesListViewModel
<div>
	<table id="tbldata" class="tableData">
		<tr>
			<th>From</th>
			<th>Title</th>
			<th>Date</th>
			<th>Content</th>
		</tr>
		@foreach (var item in Model.Messages)
		{
			<tr>
				<td>@item.From</td>
				<td>@item.Title</td>
				<td>@item.ReceivedDate</td>
				<td style="display:none">@item.Content</td>
			</tr>
		}
	</table>
</div>

<div id="wrapper">
	<section>
		<div class="data-container"></div>
		<div id="pagination-demo1"></div>
		<div class="data-container"></div>
		<div id="pagination-demo2"></div>
	</section>
</div>
<div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
		 page-class-normal="btn btn-primary" page-class-selected="btn btn-info active" class="btn-group float-right">

	</div>
<br />
<br />
<br />
<br />
<br />

*@